.contain
    padding 3rem 0

header
    padding 5rem 0
    h4
        color text-disabled
    .button-group
        margin-top 2rem
        .button + .button
            margin-left 1.3rem
#icons
    .col
        padding 1.3rem auto
        .desc
            border-top 2px solid border-grey
            padding 1rem 0
        .wrap
            padding .8rem 0 0 0
        .icon
            display block
            text-align center
            padding 2rem 0 3rem 0
            svg
                display inline-block
                height 24px
                width 50px
        p
            display block
            font-weight 600
            color color-primary
            font-size 1.1rem
        small
            display block
            color text-disabled
            margin-top .3rem
            content ' '
            strong
                color text-default

    .totals small
        margin 1rem auto
        display block
footer
    padding 3rem 0
    margin-top 4rem !important
    display block
    border-top 1px solid border-grey
    small
        padding 2rem 0
        display block
